/*------------------------------------------------
    Home Page
-------------------------------------------------*/
.page-home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  .overlay {
    background-color: rgba($light, 0.93);
  }
}

/* End of container */

// Contains 2 hexagons (.hex)
.hexagon-item {
  cursor: pointer;
  width: $hexWidth;
  height: $hexHeight;
  float: left;
  margin-left: -29px;
  z-index: 0;
  position: relative;
  @include transform(rotate(30deg));
  &:first-child {
    margin-left: 0;
  }
  // Hover state
  &:hover {
    z-index: 1;
    .hex-item:last-child {
      opacity: 1;
      @include transform(scale(1.3));
    }
    .hex-item:first-child {
      opacity: 1;
      @include transform(scale(1.2));
      div:before,
      div:after {
        height: $borderHover;
      }
    }
    .hex-item {
      div::before,
      div::after {
        background-color: $primary-color;
      }
    }
    .hex-content svg {
      @include transform(scale(0.97));
    }
  }
}

.page-home {
  .hexagon-item:nth-last-child(1),
  .hexagon-item:nth-last-child(2),
  .hexagon-item:nth-last-child(3) {
    @include transform(rotate(30deg) translate(87px, -80px));
  }
}

// Contains 3 div that makes the hexagon
.hex-item {
  position: absolute;
  top: 0;
  left: calc($edgeSize/2);
  width: $edgeSize;
  height: $hexHeight;
  // Inset
  &:first-child {
    z-index: 0;
    @include transform(scale(0.9));
    @include transition(all 0.3s $ease-out-quart);
  }
  // Outset
  &:last-child {
    transition: all 0.3s $ease-out-expo;
    z-index: 1;
  }
  div {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: $edgeSize;
    height: $hexHeight;
    @include transform-origin(center center);
    &::before,
    &::after {
      background-color: $light-dark;
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      @include transition(all 0.3s $ease-out-quart 0s);
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    &:nth-child(1) {
      @include transform(rotate(0deg));
    }
    &:nth-child(2) {
      @include transform(rotate(60deg));
    }
    &:nth-child(3) {
      @include transform(rotate(120deg));
    }
  }
}

.hex-content {
  color: $light;
  display: block;
  height: 180px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  transform: rotate(-30deg);
  width: 156px;
  .hex-content-inner {
    left: 50%;
    margin: -3px 0 0 2px;
    position: absolute;
    top: 50%;
    @include transform(translate(-50%, -50%));
  }
  .icon {
    display: block;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 11px;
  }
  .title {
    display: block;
    font-family: $open-sans;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
  }
  svg {
    left: -7px;
    position: absolute;
    top: -13px;
    transform: scale(0.87);
    z-index: -1;
    @include transition(all 0.3s $ease-out-quart 0s);
  }
  &:hover {
    color: $light;
  }
}
